

#Body_Container {
    width: 100vw;
    height: 90vh;
    background: url("/Users/codecadet/Desktop/hackatoino/social_savers/src/main/resources/58822-O9FHDL-571.jpg");
    background-size: cover;
    background-position: center;
}
img{
    width: 20%;
    height: auto;
}

.Main_Menu {
    background-color: rgba(19, 184, 215, 0.6);
    padding: .5em;
    font-size: 1.8em;
}

.needs_list {
    background-color: rgba(250,250,250,.9);
    width: 85%;
    padding: 1%;
    margin: auto;

}
.login {
    display: inline-flex;
    width: 250px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.card {

    display: inline-flex;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

input{
    border: 10px;
    padding: 10px;
    font-size: 18px;
}
input[type="submit"]{
    background: grey;
    color: white;
}